
<body>
<div id="nav">
<label id="S">Search</label>  <input type="text" #todo class="form-control" placeholder="Type something..." name="todo" ngModel>
  <p>{{todo.value}}</p>
  </div>

<div id="top">
  <p>FoodWeb</p>
</div>


<div class="hero-image">

  <form [formGroup]="form" (ngSubmit)="onSubmit()">
<div class="form-group">
    <label>User Name :</label>
    <input type="text" placeholder="username" formControlName="name" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.name.errors }" />
    <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
        <div *ngIf="f.name.errors.required">First Name is required</div>
    </div>
</div>

<!--<div class="form-group">
    <label>Last Name</label>
    <input type="text" formControlName="lastName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }" />
    <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
        <div *ngIf="f.lastName.errors.required">Last Name is required</div>
    </div>
</div>
-->

<div class="form-group">
    <label>Email :</label>
    <input type="text" placeholder= "abc@xyz" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
    <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
        <div *ngIf="f.email.errors.required">Email is required</div>
        <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
    </div>
</div>

<div class="form-group">
    <label>Password :</label>
    <input type="password" placeholder="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
    <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
        <div *ngIf="f.password.errors.required">Password is required</div>
        <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div>
    </div>
</div>


      <label class="checkbox-wrapper">
        <br>
      </label>
      <br>
      <br>
      <label>
        <input formControlName="access" class="form-control" type="radio" name="access" value="User"/>
        User
      </label>
      <label>
        <input formControlName="access" type="radio" name="access" value="Admin" />
        Vendor
      </label>
      <label>
        <input formControlName="access" type="radio" name="access" value="Vendor" />
        Admin
      </label>
      <br>

      <div class="form-group">
          <button [disabled]="loading" class="btn btn-primary">Submit</button>
      </div>
      </form>

    </div>


<!--  <div class="search">
    <input type="search" [(ngModel)="searchText" placeholder="search...">
    </div>
    <ul *ngFor = "let a of AppComponent | filter: searchText">
      <li>{{a}}</li>
      </ul>
      -->
</body>
